/*Configs Iniciais*/
*{
	text-decoration: none;
	font-family: Century Gothic;
	color: #0653A1;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
/*Background*/
body{
	background-color: #FBF9DF;
}
/*Cabeçalho*/
header{
	padding: 2em;
	background-color: white;
}
nav{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.icone img{
	height: 30px;
	width: 30px;
}
/*Barra de Pesquisa*/
#divBusca{
	background-color: white;
	border: solid 2px #0653A1;
	border-radius: 10px;
	width: 380px;
	height: 32px;
}
#txtBusca{
	float: left;
	background-color: transparent;
	padding-left: 5px;
	font-size: 18px;
	border: none;
	height: 32px;
	width: 270px;
}
#btnBusca{
	color: white;
	border: none;
	float: left;
	height: 32px;
	border-radius: 0 7px 7px 0;
	width: 70px;
	font-weight: bold;
	background: #0653A1;
}
#divBusca img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 4px;
}
/*Migalhas de Pão*/
article{
	padding-top: 1em;
}
.migalha{
	margin-left: 2.5em;
}
.migalha a{
	font-size: 12px;
	padding-right: 1em;
}
/*Carrossel*/
.slider{
	display: block;
	height: 243px;
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.slider li{
	position: absolute;
}
.slider a img{
	margin: auto;
	height: 100%;
	width: 100%;
	vertical-align: top;
	opacity: 0;
	visibility: hidden;
}
.slider input{
	display: none;
}
.slider label{
	background-color: #FBF9DF;
	bottom: 15px;
	cursor: pointer;
	display: block;
	height: 10px;
	position: absolute;
	width: 10px;
	z-index: 10;
}
.slider li:nth-child(1) label{
	left: 30px;
}
.slider li:nth-child(2) label{
	left: 60px;
}
.slider li:nth-child(3) label{
	left: 90px;
}
.slider li:nth-child(4) label{
	left: 120px;
}
.slider li:nth-child(5) label{
	left: 150px;
}
.slider li:nth-child(6) label{
	left: 180px;
}
.slider li:nth-child(7) label{
	left: 210px;
}
.slider li:nth-child(8) label{
	left: 240px;
}
.slider li input:checked ~ a img{
	opacity: 1;
	visibility: visible;
	z-index: 10;
}
.slider li input:checked ~ label{
	background-color: #0653A1;
}
/*Grid*/
figcaption{
	font-size: 12px;
	text-align: center;
	right: 3em;
	left: 3em;
	top: 12em;
    position: absolute;
    color: white;
}
section{
	display: inline-block;
	position: relative;
	margin-right: 1em;
}
main{
	height: 400px;
	width: 960px;
	margin: 0 auto;
	padding-top: 1em;
	display: grid;
	grid-template-columns: 12em 12em 12em 12em 12em;
	grid-template-rows:  12em 12em;
	grid-template-areas:
		"sec1 sec2 sec3 sec4 sec5"
		"sec6 sec7 ";
}
/*Rodapé*/
footer{
	padding: 2em;
	background-color: white;
}
footer nav div{
	margin: 1em;
}
footer nav div img{
	width: 70%;
}