*{
	margin: 0;
	padding: 0;
}

body{
	/*color teste*/
	background-color: #FBF9DF;
	overflow-x: hidden;
}

header{
	background-color: white;
}

.left {
	left: 19em;
}

img.acess {
    width: 2em;
}

/*carroussel e figures*/
img {
	border-radius: 2em;
}
img.figure-img.img-fluid {
	border-radius: 2em;
}

/*perquisa*/
input[type=text] {
	color: #0082ff;
    width: 25em;
    box-sizing: border-box;
    border: 2px solid #0082ff;
    border-radius: 5em;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');/*por img de pesquisa ou icone e reposicionar*/
    background-position: 350px 13px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/*migalhas de pão*/
li, a{
	float: left;
	color: black;
}
ol{
	list-style-type:none;
}
nav ol li a {
	float: left;
	list-style-type:none;
	padding: 0px 3px !important;
    display: inline-block !important;
    /*visual do link*/
    text-decoration: none !important;
}

/*figures*/
figcaption{
	top: 11em;
    left: 4em;
    position: absolute;
    color: white !important;
}

/*footer*/
footer{
	background-color: white;
}
address{
	display: flex;
	position: absolute;
	top: 30px;
	left: 10em;
}
p {
	color: #0082ff;
}
footer p{
	font-size: 14px;
}
footer img{
	max-width: 350px;
    max-height: 200px;
    padding: 1.5em;
}

/*pages*/
.atracao p{
	color: black;
}
#aside img{
	max-width: 80px;
    max-height: 80px;
}
